<div class="max-w-[700px] space-y-4 mx-auto mt-4">
  <h4 class="text-lg font-bold">Accordion</h4>
  <awe-accordion-group>
    <awe-accordion>
      <button aweAccordionHeader>
        <h1>Awe Accordion</h1>
      </button>

      <div>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos molestiae
        a eum esse optio sed. Perferendis voluptatem, alias culpa aliquam nam
        qui veniam mollitia incidunt magnam quisquam corrupti ut accusamus!
      </div>
    </awe-accordion>

    <awe-accordion>
      <button aweAccordionHeader>
        <h1>Hello Accordion</h1>
      </button>

      <div>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos molestiae
        a eum esse optio sed. Perferendis voluptatem, alias culpa aliquam nam
        qui veniam mollitia incidunt magnam quisquam corrupti ut accusamus!
      </div>
    </awe-accordion>
  </awe-accordion-group>

  <h4 class="text-lg font-bold">Slider</h4>
  <awe-slider [min]="0" [max]="100" [step]="1" [value]="50"></awe-slider>

  <h4 class="text-lg font-bold !mt-10">Schematics</h4>
  <img src="/schematic.png" alt="schematic" />
</div>
